<div class="container-fluid">
    <h2>Охранные приборы</h2>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-ms-6 col-12 product-block">
            <div class="col-12 wrapper-square">
                <h3>SIG-4 PLUS</h3>
                <div class="image-wrapper">
                    <img src="../../image/product2.png" alt="">
                </div>
                <div class="content-container">
                    <p><strong>Предназначение:</strong> для таких объектов,
                        как дачи, гаражи, офисные помещения, магазины и др</p>
                    <p><strong>Дополнительно:</strong> возможность использования нескольких клавиатур,
                        расширение количества зон и выходов<span id="text">&nbsp;,
                        разбитие на группы позволяет использовать этот прибор для построения
                        <strong>гибкой системы охранной сигнализации</strong>. SIG-4 Plus может использоваться как для пультовой, так и для автономной
                        охраны с передачей <strong>SMS-сообщений на мобильный телефон</strong></span> <span id="toggle">Read More...</span></p>
                    <a href="" class="btn btn-orange">Детальная информация</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-ms-6 col-12 product-block">
            <div class="col-12 wrapper-square">
                <h3>SIG-4 PLUS</h3>
                <div class="image-wrapper">
                    <img src="../../image/product2.png" alt="">
                </div>
                <div class="content-container">
                    <p><strong>Предназначение:</strong> для таких объектов,
                        как дачи, гаражи, офисные помещения, магазины и др</p>
                    <p><strong>Дополнительно:</strong> возможность использования нескольких клавиатур,
                        расширение количества зон и выходов<span id="text1">&nbsp;,
                        разбитие на группы позволяет использовать этот прибор для построения
                        <strong>гибкой системы охранной сигнализации</strong>. SIG-4 Plus может использоваться как для пультовой, так и для автономной
                        охраны с передачей <strong>SMS-сообщений на мобильный телефон</strong></span> <span id="toggle">Read More...</span></p>
                    <a href="" class="btn btn-orange">Детальная информация</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-ms-6 col-12 product-block">
            <div class="col-12 wrapper-square">
                <h3>SIG-4 PLUS</h3>
                <div class="image-wrapper">
                    <img src="../../image/product2.png" alt="">
                </div>
                <div class="content-container">
                    <p><strong>Предназначение:</strong> для таких объектов,
                        как дачи, гаражи, офисные помещения, магазины и др</p>
                    <p><strong>Дополнительно:</strong> возможность использования нескольких клавиатур,
                        расширение количества зон и выходов<span id="text2">&nbsp;,
                        разбитие на группы позволяет использовать этот прибор для построения
                        <strong>гибкой системы охранной сигнализации</strong>. SIG-4 Plus может использоваться как для пультовой, так и для автономной
                        охраны с передачей <strong>SMS-сообщений на мобильный телефон</strong></span> <span id="toggle">Read More...</span></p>
                    <a href="" class="btn btn-orange">Детальная информация</a>
                </div>
            </div>
        </div>

    </div>
</div>