.wrapper-product-category {

  .container {
    padding-bottom: 60px;
  }

  .icons {
    padding: 0 20px;
    border-top: 2px solid map_get($color-scheme-one, dirty-blue);
    border-bottom: 2px solid map_get($color-scheme-one, dirty-blue);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    i {
      font-size: 30px;
      color: map_get($color-scheme-one, dirty-blue);
      cursor: pointer;
      padding: 8px 4px;
    }
  }

  .row {
    margin: 0;

    p {
      font-size: $simple-text;
      #text {
        display: none;
        cursor : pointer;

      }
      #toggle {
        color: map_get($color-scheme-one, ginger);
        cursor : pointer;
      }

      strong {
        font-weight: 700;
        color: darken(map_get($color-scheme-one, dirty-blue), 30%);
      }
    }

    h3 {
      font-weight: 700;
      font-size: $small-header;
    }

    .btn-orange {
      padding: 12px;
      color: map_get($color-scheme-one, snow-white);
      background-color: map_get($color-scheme-one, ginger);
      border-color: map_get($color-scheme-one, ginger);
      font-size: $small-header;
      font-weight: 700;
      &:hover {
        background-color: map_get($color-scheme-one, bright-orange);
        border-color: map_get($color-scheme-one, bright-orange);
      }

      &:focus {
        background-color: map_get($color-scheme-one, bright-orange);
        border-color: map_get($color-scheme-one, bright-orange);
        box-shadow: none;
      }
    }

    .product-block {
      color: map_get($color-scheme-one, dirty-blue);
      padding: 20px 8px 40px;
      @media (min-width: 992px) {
        padding: 20px 16px 40px;
      }

      .wrapper-square{
        background-color: lighten(map_get($color-scheme-one, peach), 12%);
        border-radius: $border-radius;
        padding: 0;
        box-shadow: 0 2px 8px rgba(map_get($color-scheme-one, dirty-blue), 0.8);
      }

      .image-wrapper {
        height: 100%;
        width: 200px;
        margin: 0 auto;
      }

      .name-block {
        text-align: center;
        padding: 12px 0;
        background-color: map_get($color-scheme-one, dirty-blue);
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        color: map_get($color-scheme-one, snow-white);
      }

      .name-table {
        display: none;
      }

      .content-container {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding: 10px 0 0;
        background-color: map_get($color-scheme-one, snow-white);
        p {
          padding: 0 20px;
        }
      }
      .btn-orange {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
      }
    }

    .product-table {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      flex: 100%;
      max-width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid lighten(map_get($color-scheme-one, dirty-blue), 40%);

      .wrapper-line {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0;
      }

      .image-wrapper {
        height: auto;
        width: 200px;
      }

      .name-table {
        color: map_get($color-scheme-one, dirty-blue);
      }

      .name-block {
        display: none;
      }

      .content-container {
        width: 70%;
      }
    }
  }
}