<div class="container-fluid">
    <h2>О компании</h2>
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 about-company">
            <p>Равным образом укрепление и развитие структуры способствует подготовки и
                реализации направлений прогрессивного развития. Задача организации, в
                особенности же реализация намеченных плановых заданий обеспечивает широкому
                кругу (специалистов) участие в формировании систем массового участия. Разнообразный
                и богатый опыт консультация с широким активом представляет собой интересный
                эксперимент проверки модели развития. Значимость этих проблем настолько очевидна,
                что постоянный количественный рост и сфера нашей активности представляет собой
                интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
        </div>
        <div class="image-wrapper col-lg-6 col-md-6 col-sm-12 col-12">
            <img src="../image/6335.png" alt="earth">
        </div>
    </div>
</div>
