<div class="container-fluid">
    <h2>Наши преимущества</h2>
    <div class="row">
        <div class="advantages col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper-icon bg-1">
                <i class="zmdi zmdi-shield-security"></i>
            </div>
                <h3>﻿Персональная безопасность</h3>
                <p>Cложившаяся структура организации в значительной степени</p>

        </div>
        <div class="advantages col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper-icon bg-2">
                <i class="zmdi zmdi-remote-control-alt"></i>
            </div>
                <h3>Проводная и беспроводная системы</h3>
                <p>Cложившаяся структура организации в значительной степени</p>

        </div>
        <div class="advantages col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper-icon bg-3">
                <i class="zmdi zmdi-home"></i>
            </div>
            <h3>Умный дом <br /> (управление приборами)</h3>
                <p>Cложившаяся структура организации в значительной степени</p>
        </div>
        <div class="advantages col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="wrapper-icon bg4">
                <i class="zmdi zmdi-remote-control"></i>
            </div>
            <h3>Автономная и пультовая охрана</h3>
            <p>Cложившаяся структура организации в значительной степени</p>

        </div>

    </div>
</div>