<div class="container-fluid">
    <h2>О нашем приложении</h2>
    <div class="row">
        <div class="application-item col-lg-4 col-md-4 col-sm-12 col-12">
            <ul>
                <li>Ставить вашу систему безопасности на охрану в полном или ночном ("только периметр", "постановка остаюсь") режиме</li>
                <li>Снимать с охраны вашу систему безопасности</li>
                <li>Просматривать состояние системы безопасности</li>
                <li>Управлять группами охраны</li>
                <li>Управлять несколькими системами в одном приложении</li>
                <li>Получать уведомления о тревожных событиях системы посредством push-оповещений</li>
            </ul>
        </div>
        <div class="application-screen col-lg-4 col-md-4 col-sm-12 col-12">
            <img src="../image/smartphone.png" alt="application">
        </div>
        <div class="application-item col-lg-4 col-md-4 col-sm-12 col-12">
            <ul>
                <li>Управлять устройствами домашней автоматики</li>
                <li>Управлять подачей воды автоматически или вручную</li>
                <li>Открывать и закрывать ворота, двери и т.д.</li>
                <li>Управлять другими системами (полив, кондиционирование, отопление)</li>
                <li>Получать информацию о том кто управлял системой</li>
                <li>Предоставлять всем домашним пользователям доступ для управления системой охраны</li>
            </ul>
        </div>
    </div>

</div>