

<div class="container-fluid">
    <div class="row">
        <div class="map col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d81203.4286779154!2d30.382158419853468!3d50.50426898939717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x40d4cd8113e1d23b%3A0x54244591194d4e63!2z0K3Qm9CV0JrQotCg0J7QnSDQnNCfINCe0J7Qniwg0LLRg9C70LjRhtGPINCS0LjRiNCz0L7RgNC-0LTRgdGM0LrQsCwgMjIsINCa0LjQtdCyLCBLeWl2cydrYSwgMDQwNzQ!3m2!1d50.50429!2d30.452198!5e0!3m2!1sru!2sua!4v1511376585116"
                    width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contact-info col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2>Как нас найти</h2>
            <div class="contact-link">
                <p class="wrapper-icon">
                    <i class="zmdi zmdi-email"></i>
                </p>
                <a href="mailto:info@elektron.kiev.ua">info@elektron.kiev.ua</a>
            </div>
            <div class="contact-link">
                <p class="wrapper-icon">
                    <i class="zmdi zmdi-phone"></i>
                </p>
                <a href="tel:380444308087">+38 044 430 80 87</a>
            </div>
            <div class="contact-link">
                <p class="wrapper-icon">
                    <i class="zmdi zmdi-phone"></i>
                </p>
                <a href="tel:380444641540">+38 044 464 15 40</a>
            </div>
            <div class="contact-link">
                <p class="wrapper-icon">
                    <i class="zmdi zmdi-phone"></i>
                </p>
                <a href="tel:380509745287">+38 050 974 52 87</a>
            </div>
            <div class="contact-link">
                <p class="wrapper-icon">
                    <i class="zmdi zmdi-phone"></i>
                </p>
                <a href="tel:380444281680">+38 044 428 16 80 <br /> <span>(тех. поддержка)</span></a>
            </div>
            <div class="contact-link">
                <p class="wrapper-icon">
                    <i class="zmdi zmdi-skype"></i>
                </p>
                <a href="skype:sergeydjoshua?call">Связаться с  нами через skype</a>
            </div>
            <div class="contact-link">
                <p class="wrapper-icon">
                    <i class="zmdi zmdi-google-maps"></i>
                </p>
                <address>04074 Украина Киев ул. Вышгородская, 22</address>
            </div>
        </div>
    </div>
</div>