
<footer class="footer">
    <div class="footer-town col-lg-12 col-md-12 col-sm-12 col-12">
        <h2>И пусть город спит спокойно!</h2>
    </div>
    <div class="footer-info-wrapper">
        <div class="separator">
            <div class="footer-info">
                <div class="contact-link">
                    <p class="wrapper-icon">
                        <i class="zmdi zmdi-email"></i>
                    </p>
                    <a href="mailto:info@elektron.kiev.ua">info@elektron.kiev.ua</a>
                </div>
                <div class="contact-link">
                    <p class="wrapper-icon">
                        <i class="zmdi zmdi-skype"></i>
                    </p>
                    <a href="skype:sergeydjoshua?call">Связаться с  нами через skype</a>
                </div>
                <div class="contact-link">
                    <p class="wrapper-icon">
                        <i class="zmdi zmdi-phone"></i>
                    </p>
                    <a href="tel:380444281680">+38 044 428 16 80</a>
                </div>
            </div>
            <div class="footer-info">
                <div class="contact-link">
                    <p class="wrapper-icon">
                        <i class="zmdi zmdi-phone"></i>
                    </p>
                    <a href="tel:380444308087">+38 044 430 80 87</a>
                </div>
                <div class="contact-link">
                    <p class="wrapper-icon">
                        <i class="zmdi zmdi-phone"></i>
                    </p>
                    <a href="tel:380444641540">+38 044 464 15 40</a>
                </div>
                <div class="contact-link">
                    <p class="wrapper-icon">
                        <i class="zmdi zmdi-phone"></i>
                    </p>
                    <a href="tel:380509745287">+38 050 974 52 87</a>
                </div>
            </div>
        </div>
        <div class="developer">
            Created and developed by <a href="https://shyshenok.github.io/">shyshenoka</a>
        </div>
    </div>  


</footer>