<header>
    <nav>
        <ul>
            <li><a href="#">Our products</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our</a></li>
        </ul>
    </nav>
    <div class="header-jambotron">
        <section class="jambotron-info">
            <h2>Electrton</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab exercitationem impedit iure iusto molestias officiis
                quidem quisquam reprehenderit temporibus vitae? A cum
                illum nihil nostrum omnis quam rem sapiente unde.</p>
        </section>
        <section class="jambotron-form">
            <form action="#">
                <h3>Connect with us!</h3>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Mail">
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </form>
            <a href="mailto:gyghjG@gmail.com">Send mail</a>
        </section>

    </div>
</header>