<div class="container-fluid">
    <h2>Our products</h2>
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product block-1">
            <div>
                <h3>Alarm Security Panels</h3>
                <p>Specifications, manuals for Alarm Security Panels, usefull utilities</p>
                <a id="button1" href="template/products/product.html" class="btn btn-blue">Read more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product block-2">
            <div>
                <h3>Alarm Security Panels</h3>
                <p>Specifications, manuals for Alarm Security Panels, usefull utilities</p>
                <a class="btn btn-orange" href="template/products/product.html">Read more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product block-3">
            <div>
                <h3>Alarm Security Panels</h3>
                <p>Specifications, manuals for Alarm Security Panels, usefull utilities</p>
                <a class="btn btn-primary btn-blue" href="template/products/product.html">Read more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product block-4">
            <div>
                <h3>Alarm Security Panels</h3>
                <p>Specifications, manuals for Alarm Security Panels, usefull utilities</p>
                <a class="btn btn-orange" href="template/products/product.html">Read more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product block-5">
            <div>
                <h3>Alarm Security Panels</h3>
                <p>Specifications, manuals for Alarm Security Panels, usefull utilities</p>
                <a class="btn btn-blue" href="template/products/product.html">Read more</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 product block-6">
            <div>
                <h3>Alarm Security Panels</h3>
                <p>Specifications, manuals for Alarm Security Panels, usefull utilities</p>
                <a class="btn btn-orange" href="template/products/product.html">Read more</a>
            </div>
        </div>
    </div>
</div>