<div class="container-fluid">
    <h2>Почему выбирают именно нас</h2>
    <div class="row" id="counter">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 svg-hexagonal-counter">
                <svg class='counter' x='0px' y='0px' viewBox='0 0 776 628'>
                    <h2 class="counter-value" data-count="300" suffix = " дней"></h2>
                </svg>
            </div>
            <h3>тестировали наш прибор</h3>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 svg-test-2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 svg-hexagonal-counter">
                <svg class='counter' x='0px' y='0px' viewBox='0 0 776 628'>
                    <h2 class="counter-value" data-count="1300" suffix = " дней"></h2>
                </svg>
            </div>
            <h3>тестировали наш прибор</h3>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 svg-test-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 svg-hexagonal-counter">
                <svg class='counter' x='0px' y='0px' viewBox='0 0 776 628'>
                    <h2 class="counter-value" data-count="2300" suffix = " дней"></h2>
                </svg>
            </div>
            <h3>Со столькими областями мы работаем</h3>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 svg-test-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 svg-hexagonal-counter">
                <svg class='counter' x='0px' y='0px' viewBox='0 0 776 628'>
                    <h2 class="counter-value" data-count="3300" suffix = " дней"></h2>
                </svg>
            </div>
            <h3>натерли программисты пока писали прилоджение</h3>
        </div>
    </div>

</div>
