<div class="container-fluid">
    <h2>Почему выбирают именно нас</h2>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 svg-test-1">
            <h3>Столько часов ушло на разработку приложения</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 svg-test-2">
            <h3>Столько часов мы тестировали наш прибор</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 svg-test-3">
            <h3>Со столькими областями мы работаем</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 svg-test-4">
            <h3>Столько мозолей натерли программисты пока писали прилоджение</h3>
        </div>
    </div>

</div>
