<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="name-product">SIG-4 PLUS</h2>
        </div>
        <div class="row product-details-wrapper">
            <div class="col-lg-6 col-md-6 col-12 product-image">
                    <div class="image-wrapper">
                       <img src="/image/product2.png" alt="" id="full-screen">
                    </div>
                    <div class="col-4 small-icons">
                        <img src="/image/product2.png" alt="">
                        <img src="/image/product2.png" alt="">
                        <img src="/image/product2.png" alt="">
                        <img src="/image/product2.png" alt="">
                     </div>

                <!--<div class="image-wrapper">-->
                    <!--<img src="/image/product2.png" alt="">-->
                <!--</div>-->
            </div>
            <div class="col-lg-6 col-md-6 col-12 product-image">
                <p class="description-product">
                    Пристрій сполучення об'єктовий SIG-3 є бюджетним охоронним приладом, призначений для охорони невеликих об’єктів,
                    таких як дачі, гаражі, офісні приміщення, кіоски, тощо. Керування приладом здійснюється за допомогою релейної клавіатури
                    або мобільного телефону. SIG-3 може використовуватись як для пультової, так і для автономної охорони з передачею SMS-повідомлень
                    на мобільний телефон.</p>
            </div>
        </div>
        <div class="col-12">
            <div class="bd-example bd-example-tabs">
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="home" aria-expanded="true">Храктеристики</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="profile" aria-expanded="false">Profile</a>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" aria-expanded="true">
                        <div class="col-12 detailse-info">
                            <div class="item">
                                <h3 class="name-item">Исполнение</h3>
                                <p class="item-value">Плата 67х55 мм установлена в металлическом боксе 165 х 77 х 205мм</p>
                            </div>
                            <div class="item">
                                <h3 class="name-item">Напряжение питания</h3>
                                <p class="item-value">220 Вольт переменного тока</p>
                            </div>
                            <div class="item">
                                <h3 class="name-item">Блок бесперебойного питания</h3>
                                <p class="item-value">	12В 3А постоянного тока.</p>
                            </div>
                            <div class="item">
                                <h3 class="name-item">Постановка под охрану или снятие с охраны</h3>
                                <p class="item-value">Охраняемые или круглосуточные.
                                    Коды нарушения и восстановления каждой зоны программируется индивидуально согласно протокола ContactId</p>
                            </div>
                            <div class="item">
                                <h3 class="name-item">Исполнение</h3>
                                <p class="item-value">Плата 67х55 мм установлена в металлическом боксе 165 х 77 х 205мм</p>
                            </div>
                            <div class="item">
                                <h3 class="name-item">Напряжение питания</h3>
                                <p class="item-value">220 Вольт переменного тока</p>
                            </div>
                            <div class="item">
                                <h3 class="name-item">Блок бесперебойного питания</h3>
                                <p class="item-value">	12В 3А постоянного тока.</p>
                            </div>
                            <div class="item">
                                <h3 class="name-item">Постановка под охрану или снятие с охраны</h3>
                                <p class="item-value">Охраняемые или круглосуточные.
                                    Коды нарушения и восстановления каждой зоны программируется индивидуально согласно протокола ContactId</p>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" aria-expanded="false">
                        <div class="col-lg-6 col-12 license-slider">
                            <div class="slider">
                                <figure class="slide 1">
                                    <div class="image-wrapper">
                                        <img src="/image/SIG-1.png" alt="">
                                    </div>
                                </figure>
                                <figure class="slide 2">
                                    <div class="image-wrapper">
                                        <img src="/image/SIG-2.png" alt="">
                                    </div>
                                </figure>


                            </div>
                            <a href="#" class="prev" onclick="prev(); return false">
                                <i class="zmdi zmdi-chevron-left"></i>
                            </a>
                            <a href="#" class="next" onclick="next(); return false">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </a>

                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-dropdown1" role="tabpanel" aria-labelledby="nav-dropdown1-tab">
                        <p>Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. Deserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. Laboris consequat consequat commodo non ut non aliquip reprehenderit nulla anim occaecat. Sunt sit ullamco reprehenderit irure ea ullamco Lorem aute nostrud magna.</p>
                    </div>
                    <div class="tab-pane fade" id="nav-dropdown2" role="tabpanel" aria-labelledby="nav-dropdown2-tab">
                        <p>Proident incididunt esse qui ea nisi ullamco aliquip nostrud velit sint duis. Aute culpa aute cillum sit consectetur mollit minim non reprehenderit tempor. Occaecat amet consectetur aute esse ad ullamco ad commodo mollit reprehenderit esse in consequat. Mollit minim do consectetur pariatur irure non id ea dolore occaecat adipisicing consectetur est aute magna non.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>