<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="name-product">SIG-4 PLUS</h2>
        </div>
        <div class="row product-details-wrapper">
            <div class="col-lg-6 col-md-6 col-12 product-image">
                    <div class="image-wrapper">
                       <img src="/image/product2.png" alt="" id="full-screen">
                    </div>
                    <div class="col-4 small-icons">
                        <img src="/image/product2.png" alt="">
                        <img src="/image/product2.png" alt="">
                        <img src="/image/product2.png" alt="">
                        <img src="/image/product2.png" alt="">
                     </div>

                <!--<div class="image-wrapper">-->
                    <!--<img src="/image/product2.png" alt="">-->
                <!--</div>-->
            </div>
            <div class="col-lg-6 col-md-6 col-12 product-image">
                <p class="description-product">
                    Пристрій сполучення об'єктовий SIG-3 є бюджетним охоронним приладом, призначений для охорони невеликих об’єктів,
                    таких як дачі, гаражі, офісні приміщення, кіоски, тощо. Керування приладом здійснюється за допомогою релейної клавіатури
                    або мобільного телефону. SIG-3 може використовуватись як для пультової, так і для автономної охорони з передачею SMS-повідомлень
                    на мобільний телефон.</p>
            </div>
        </div>
        <div class="col-12 tabs-wrapper">
            <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-char-tab" data-toggle="tab" href="#nav-char"
                   role="tab" aria-controls="home" aria-expanded="true">Храктеристики</a>
                <a class="nav-item nav-link" id="nav-addinggoods-tab" data-toggle="tab" href="#nav-addinggoods"
                   role="tab" aria-controls="profile" aria-expanded="false">Похожие товары</a>
                <a class="nav-item nav-link" id="nav-license-tab" data-toggle="tab" href="#nav-license"
                   role="tab" aria-controls="profile" aria-expanded="false">Сертификаты</a>
                <a class="nav-item nav-link" id="nav-faq-tab" data-toggle="tab" href="#nav-faq"
                   role="tab" aria-controls="profile" aria-expanded="false">FAQ</a>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <section class="tab-pane fade active show" id="nav-char" role="tabpanel" aria-labelledby="nav-char-tab" aria-expanded="true">
                    <div class="col-12 detailse-info">
                        <div class="item">
                            <h3 class="name-item">Исполнение</h3>
                            <p class="item-value">Плата 67х55 мм установлена в металлическом боксе 165 х 77 х 205мм</p>
                        </div>
                        <div class="item">
                            <h3 class="name-item">Напряжение питания</h3>
                            <p class="item-value">220 Вольт переменного тока</p>
                        </div>
                        <div class="item">
                            <h3 class="name-item">Блок бесперебойного питания</h3>
                            <p class="item-value">	12В 3А постоянного тока.</p>
                        </div>
                        <div class="item">
                            <h3 class="name-item">Постановка под охрану или снятие с охраны</h3>
                            <p class="item-value">Охраняемые или круглосуточные.
                                Коды нарушения и восстановления каждой зоны программируется индивидуально согласно протокола ContactId</p>
                        </div>
                        <div class="item">
                            <h3 class="name-item">Исполнение</h3>
                            <p class="item-value">Плата 67х55 мм установлена в металлическом боксе 165 х 77 х 205мм</p>
                        </div>
                        <div class="item">
                            <h3 class="name-item">Напряжение питания</h3>
                            <p class="item-value">220 Вольт переменного тока</p>
                        </div>
                        <div class="item">
                            <h3 class="name-item">Блок бесперебойного питания</h3>
                            <p class="item-value">	12В 3А постоянного тока.</p>
                        </div>
                        <div class="item">
                            <h3 class="name-item">Постановка под охрану или снятие с охраны</h3>
                            <p class="item-value">Охраняемые или круглосуточные.
                                Коды нарушения и восстановления каждой зоны программируется индивидуально согласно протокола ContactId</p>
                        </div>
                    </div>

                </section>
                <section class="tab-pane fade" id="nav-addinggoods" role="tabpanel" aria-labelledby="nav-addinggoods-tab">
                    <div class="col-lg-4 col-md-6 col-ms-6 col-12 product-block">
                        <div class="col-12 wrapper-square">
                            <h3 class="name-block">SIG-4 PLUS</h3>
                            <div class="image-wrapper">
                                <img src="/image/product2.png" alt="">
                            </div>
                            <div class="content-container">
                                <h3 class="name-table">SIG-4 PLUS</h3>

                                <p><strong>Предназначение:</strong> для таких объектов,
                                    как дачи, гаражи, офисные помещения, магазины и др</p>
                                <p><strong>Дополнительно:</strong> возможность использования нескольких клавиатур,
                                    расширение количества зон и выходов<span id="text">&nbsp;,
                    разбитие на группы позволяет использовать этот прибор для построения
                    <strong>гибкой системы охранной сигнализации</strong>. SIG-4 Plus может использоваться как для пультовой, так и для автономной
                    охраны с передачей <strong>SMS-сообщений на мобильный телефон</strong></span> <span id="toggle">Read More...</span></p>
                                <a href="/template/details-product/details-product.html" class="btn btn-orange">Детальная информация</a>

                            </div>

                        </div>
                    </div>
                </section>
                <section class="tab-pane fade" id="nav-license" role="tabpanel" aria-labelledby="nav-license-tab" aria-expanded="false">
                    <div class="row license">
                        <div class="col-lg-6 col-12 license-slider">
                            <div class="slider">
                                <figure class="slide 1">
                                    <div class="image-wrapper">
                                        <img src="/image/SIG-1.png" alt="">
                                    </div>
                                </figure>
                                <figure class="slide 2">
                                    <div class="image-wrapper">
                                        <img src="/image/SIG-2.png" alt="">
                                    </div>
                                </figure>


                            </div>
                            <a href="#" class="prev" onclick="prev(); return false">
                                <i class="zmdi zmdi-chevron-left"></i>
                            </a>
                            <a href="#" class="next" onclick="next(); return false">
                                <i class="zmdi zmdi-chevron-right"></i>
                            </a>

                        </div>
                        <div class="col-lg-6 col-12 downloads">
                            <h3>Скачать документацию</h3>
                            <a href="" download>Полное руководство</a>
                            <a href="" download>Короткое руководство</a>
                            <a href="" download>Сертификаты</a>
                        </div>
                    </div>
                </section>
                <section class="tab-pane fade" id="nav-faq" role="tabpanel" aria-labelledby="nav-faq-tab">
                    <div class="faq-block">
                        <i class="zmdi zmdi-help-outline"></i>
                        <div>
                            <h4 class="question">Товарищи! новая модель организационной деятельности способствует подготовки и реализации форм развития?</h4>
                            <p class="answer"> Равным образом укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации.
                                Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности
                                способствует подготовки и реализации систем массового участия. Повседневная практика показывает, что консультация
                                с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует
                                насущным потребностям. Равным образом новая модель организационной деятельности в значительной степени обуславливает
                                создание модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет
                                оценить значение форм развития.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <i class="zmdi zmdi-help-outline"></i>
                        <div>
                            <h4 class="question">Товарищи! новая модель организационной деятельности способствует подготовки и реализации форм развития?</h4>
                            <p class="answer"> Равным образом укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации.
                                Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности
                                способствует подготовки и реализации систем массового участия. Повседневная практика показывает, что консультация
                                с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует
                                насущным потребностям. Равным образом новая модель организационной деятельности в значительной степени обуславливает
                                создание модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет
                                оценить значение форм развития.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <i class="zmdi zmdi-help-outline"></i>
                        <div>
                            <h4 class="question">Товарищи! новая модель организационной деятельности способствует подготовки и реализации форм развития?</h4>
                            <p class="answer"> Равным образом укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации.
                                Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности
                                способствует подготовки и реализации систем массового участия. Повседневная практика показывает, что консультация
                                с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует
                                насущным потребностям. Равным образом новая модель организационной деятельности в значительной степени обуславливает
                                создание модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет
                                оценить значение форм развития.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <i class="zmdi zmdi-help-outline"></i>
                        <div>
                            <h4 class="question">Товарищи! новая модель организационной деятельности способствует подготовки и реализации форм развития?</h4>
                            <p class="answer"> Равным образом укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации.
                                Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности
                                способствует подготовки и реализации систем массового участия. Повседневная практика показывает, что консультация
                                с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует
                                насущным потребностям. Равным образом новая модель организационной деятельности в значительной степени обуславливает
                                создание модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет
                                оценить значение форм развития.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <i class="zmdi zmdi-help-outline"></i>
                        <div>
                            <h4 class="question">Товарищи! новая модель организационной деятельности способствует подготовки и реализации форм развития?</h4>
                            <p class="answer"> Равным образом укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации.
                                Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности
                                способствует подготовки и реализации систем массового участия. Повседневная практика показывает, что консультация
                                с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует
                                насущным потребностям. Равным образом новая модель организационной деятельности в значительной степени обуславливает
                                создание модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет
                                оценить значение форм развития.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>