

.wrapper-about {
  display: flex;
  justify-content: center;
  padding: 20px 40px 100px;
  .row {
    padding: 20px 0;
  }

  .image-wrapper {
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}