
.wrapper-advantages {
  padding: 20px 0 100px;
  .row {
    margin: 0;
  }

  .advantages {
    padding: 40px 20px;
    text-align: center;
    .wrapper-icon {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: map_get($color-scheme-one, pale-diry-blue);
      margin: 16px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .zmdi {
        font-size: 40px;
        color: map_get($color-scheme-one, snow-white);
      }
    }
    h3, p {
      color: map_get($color-scheme-one, dirty-blue);
    }
  }

}

