
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Comfortaa', cursive;
}

.container-fluid {
  padding: 0;
}

h2 {
  text-align: center;
  padding: 40px 0;
  color: map_get($color-scheme-one, dirty-blue);
  font-weight: 700;
  font-size: $primary-text;
}

img {
  height: auto;
  width: 100%;
}

a {
  cursor: pointer;
}
