
@font-face {
  font-family: GothamReg;
  src: url("../../fonts/GothamRegular.otf")
}

@font-face {
  font-family: GothamBold;
  src: url("../../fonts/GothamBold.otf")
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: GothamReg, serif;
}

.container-fluid {
  padding: 0;
}

a {
  cursor: pointer;
}

header {

}

main {
}

footer {
}