.wrapper-timer {

  background-color: map_get($color-scheme-one, dirty-blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 40px 100px;

  .row {
    padding: 0 20px 0;
  }

  h2, h3 {
    color: map_get($color-scheme-one, snow-white);
  }

  .svg-hexagonal-counter {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: absolute;
      transform: rotate(-90deg);


    }
    h2 {
      position: relative;
      line-height: 160px;
      margin: 16px 0 0;
    }

    .counter {
      width: 250px;
      height: 240px;
      //.track,
      //.fill {
      //  fill: rgba(0, 0, 0, 0);
      //  stroke-width: 30;
      //  transform: translate(290px, 800px)rotate(-120deg);
      //}
      //
      //.fill {
      //    stroke: rgb(255, 255, 255);
      //    stroke-linecap: round;
      //    stroke-dasharray: 2160;
      //    stroke-dashoffset: 2160;
      //  }
    }

  }

}

