.wrapper-timer {

  background-color: map_get($color-scheme-one, dirty-blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 40px 100px;


  .row {
    padding: 30px 20px 0;
  }

  h2 {
    color: map_get($color-scheme-one, snow-white);
  }

  .svg-test-1,
  .svg-test-2,
  .svg-test-3,
  .svg-test-4 {
    display: flex;
    flex-flow: column wrap;
    color: map_get($color-scheme-one, snow-white);


    h3 {
      order: 2;
      text-align: center;
      padding: 16px 8px;
    }

    .svg-hexagonal-counter {
      order: 1;
      position: relative;
      float: left;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      h2 {
        text-align:center;
        position: absolute;
        left: 4px;
        line-height: 178px;
        width: 100%;
      }

      .counter{
        width: 240px;
        height: 240px;
        cursor: default;

        .track,
        .fill {
          fill: rgba(0, 0, 0, 0);
          stroke-width: 30;
          transform: translate(290px, 800px)rotate(-120deg);
        }

        .fill {
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-dasharray: 2160;
          stroke-dashoffset: 2160;
        }
      }
    }
  }
  svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
