
$border-radius: 4px;
$simple-text: 14px;
$small-header: 18px;
$primary-text: 26px;
$bigest-text: 30px;
$color-scheme-one: (
        bright-orange: #fe6219,
        sun-yellow: #ffd205,
        peach: #fce3af,
        dirty-blue: #4e6686,
        close-black: #070813,
        snow-white: #ffffff,
        pale-diry-blue: #5f7692,
        ginger: #f28917,
        dark-grey: #88959a,
        pale-turquoise: #c4eceb

);

$color-scheme-two: (
        sun-yellow: #fcd800,
        pale-grey: #e2e1de,
        dark-grey: #88959a,
        pale-brown: #d2b29a,
        dark-brown: #6b4327
);

$color-scheme-three: (
        burgundy: #831e02,
        bright-orange: #fe6c3e,
        pale-orange: #f2d5cc,
        pale-grey: #d8d9db,
        middle-gray: #979392
);

$color-scheme-four: (
        chocolate-brown: #5c1b00,
        dirty-orange: #cc5608,
        ginger: #e69142,
        pale-orange: #fed395,
        warm-grey: #b29d94
);

$color-scheme-five: (
        burgundy: #62221b,
        dark-orange: #c94f13,
        ginger: #fea64c,
        pale-ginger: #fecf91,
        pale-turquoise: #c4eceb
);

$color-scheme-six: (
        black-color: #000002,
        pale-brown: #8f7d75,
        ginger: #fdb360,
        pale-ginger: #fbe5ad,
        pale-blue-grey: #c1ccd4
);